[Unit]
Description=Monitor
After=syslog.target

[Service]
User=tom
Type=simple
WorkingDirectory=/apps/monitor
ExecStart=/usr/bin/java -jar /apps/monitor/Monitor.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target